.navbar{
    display: flex;
    gap: 200px;
    font-size: 25px;
    margin-left: 20%;
   
}
.navbar a{
    text-decoration: none;
    color: black;
    position: static;
}
.nav-main{
    background-color: 	#eed9c4;
    
}