.contact-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact-container{
    width: 90%;
    height: 50%;
    background-color: #eed9c4;
    border: 1px solid #eed9c4;
    margin-left: 5%;
}
.contact-icon{
    width: 5%;
    height: 10%;
    margin-top: 1%;
    margin-left: 10%;
}
.address{
    margin-left: 10%;
    margin-bottom: 7%;
}
input{
    width: 40vw;
    height: 7vh;
}
.submit{
    width: 10vw;
    height: 7vh;
    border-radius: 10px;
    margin-top: 2%;
    font-size: 17px;
    border: none;
}
.message{
    height: 25vh;
    border-bottom-right-radius: 30px;
}
input{
    margin: 1%;
    margin-right: 10%;
}
#contact{
    margin-top: 10%;

}
